<p>
    <mat-toolbar>
        <span>Devices</span>
        <span class="toolbar-spacer"></span>
        <button mat-fab color="primary" aria-label="Add device" (click)="openDialog(null)">
            <mat-icon>add</mat-icon>
        </button>
    </mat-toolbar>
</p>

<div fxLayout="row wrap" *ngIf="deviceList === undefined" class="h-100">
    <div fxLayoutAlign="center center" fxFlex="grow" fxLayout="column">
        <mat-spinner></mat-spinner>
        <span class="p-4">Loading devices</span>
    </div>
</div>

<div fxLayout="row wrap" *ngIf="deviceList !== undefined && deviceList.length <= 0" class="h-100">
    <div fxLayoutAlign="center center" fxFlex="grow" fxLayout="column">
        <span class="p-4">Add a device</span>
        <button mat-fab color="primary" aria-label="Add device" (click)="openDialog(null)">
            <mat-icon>add</mat-icon>
        </button>
    </div>
</div>

<div fxLayout="row wrap" fxLayoutGap="0px" *ngIf="deviceList !== undefined && deviceList.length > 0">
    <div fxLayoutAlign="start baseline" fxFlex.xs="grow" *ngFor="let device of deviceList">
        <mat-card class="m-4" ngClass="card-size" ngClass.xs="w-100">
            <mat-card-title-group>
                <mat-card-title>{{device.alias_name}}</mat-card-title>
                <mat-card-subtitle class="mb-2">{{getDeviceType(device.device_type).name}}</mat-card-subtitle>
                <mat-card-subtitle class="mb-2" aria-label="Serie number">SN: {{device.serie_number}}</mat-card-subtitle>
                <mat-card-subtitle aria-label="Firmware">FW: {{device.firmware_version}}</mat-card-subtitle>
                <img mat-card-sm-image
                    [src]="getDeviceType(device.device_type).id > 0 ? 'assets/'+getDeviceType(device.device_type).name+'.svg' : 'assets/health.svg'">
            </mat-card-title-group>
            <mat-card-content *ngIf="getDeviceType(device.device_type).fields.length > 0">
                <table mat-table [dataSource]="getDeviceType(device.device_type).fields">
                    <ng-container matColumnDef="name">
                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>

                    <ng-container matColumnDef="field_type">
                        <td mat-cell *matCellDef="let element"> {{element.field_type}} </td>
                    </ng-container>

                    <ng-container matColumnDef="value">
                        <td mat-cell *matCellDef="let element"> {{element.value}} </td>
                    </ng-container>

                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </mat-card-content>
            <mat-card-content fxLayout="row wrap" fxLayoutGap="10px" *ngIf="getDeviceType(device.device_type).actions.length > 0">
                <button mat-stroked-button color="primary" class="mb-2"
                    *ngFor="let action of getDeviceType(device.device_type).actions"
                    (click)="sendCommand(device.id ? device.id : 0, action)">
                    {{action.name}}
                </button>
            </mat-card-content>
            <mat-card-content>
                <button mat-icon-button color="warn" (click)="deleteOneDevice(device)">
                    <mat-icon>delete</mat-icon>
                </button>
                <button mat-icon-button color="primary" (click)="openDialog(device)">
                    <mat-icon>edit</mat-icon>
                </button>
            </mat-card-content>
        </mat-card>
    </div>
</div>