<header>
    <mat-toolbar class="mat-elevation-z10" color="primary">
        <button (click)="opened = !opened" mat-icon-button aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
        </button>
        <span class="mr-1">{{title}}</span>
        <span class="example-spacer"></span>
        <button mat-icon-button (click)="openLogin()">
            <mat-icon>login</mat-icon>
        </button>
    </mat-toolbar>
</header>

<mat-sidenav-container class="example-container">
    <mat-sidenav mode="over" [opened]="opened">
        <mat-nav-list class="mat-nav-list mat-list-base">
            <a mat-list-item href="/" class="abc mat-list-item mat-focus-indicator"><span>Home</span></a>
            <a mat-list-item href="device/" class="abc mat-list-item mat-focus-indicator"><span>Devices</span></a>
            <a mat-list-item href="user/" class="abc mat-list-item mat-focus-indicator"><span>Users</span></a>
            <a mat-list-item href="config/" class="abc mat-list-item mat-focus-indicator"><span>Configurations</span></a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="bg-light h-calc-total">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>

<!-- <router-outlet></router-outlet> -->
